
@{
    ViewBag.Title = "IndexOutOfRangeException";
}

<h2>Произошла ошибка - IndexOutOfRangeException</h2>
<p>Иногда она возникает и мы перенаправляем вас на эту страницу </p>
<p>Но проблема решена и письмо администратору было отправлено на почту</p>

    @Html.ActionLink("Вернуться на главную страницу","Index","Home",new{@class="btn btn-primary"})
